<header class="fixed top-0 left-0 right-0 z-50 bg-footerBg shadow-md">
  <nav class="w-full border-b border-brandYellow bg-footerBg">
    <div class="container mx-auto px-4 py-5 flex items-center justify-between relative">

      <!-- Logo -->
      <div class="flex justify-center sm:justify-start">
        <a href="/../index.html">
          <img src="/meradaGayrimenkul_frontend/img/lsogo-Photoroom.png"
               alt="Logo"
               class="h-8 sm:h-12 w-auto">
        </a>
      </div>

      <!-- Masaüstü Menü -->
      <div class="hidden md:flex items-center space-x-8">
        <a href="/../index.html"
           class="text-footerTitle hover:text-brandYellow transition font-medium navlink-hover">
          Anasayfa
        </a>
        <a href="/meradaGayrimenkul_frontend/html/about_us.html"
           class="text-footerTitle hover:text-brandYellow transition font-medium navlink-hover">
          Hakkımızda
        </a>
        <a href="/meradaGayrimenkul_frontend/html/contact.html"
           class="text-footerTitle hover:text-brandYellow transition font-medium navlink-hover">
          İletişim
        </a>

        <!-- Yönetici Girişi (Desktop) -->
       <a href="/meradaAdmin/frontend/login.html"
         class="inline-block mt-2 px-4 py-2 rounded-full border border-brandYellow text-brandYellow hover:bg-brandYellow hover:text-footerBg transition font-medium">
        Yönetici Girişi
      </a>
      </div>

      <!-- Hamburger Menü -->
      <button id="menuToggle"
              class="md:hidden text-3xl text-footerTitle focus:outline-none">
        <i class="ri-menu-line"></i>
      </button>

    </div>

    <!-- Mobil Menü -->
    <div id="mobileMenu"
         class="md:hidden px-4 pb-4 space-y-3 hidden bg-footerBg border-t border-brandYellow">

      <a href="/../index.html"
         class="block text-footerTitle hover:text-brandYellow transition">
        Anasayfa
      </a>

      <a href="/meradaGayrimenkul_frontend/html/about_us.html"
         class="block text-footerTitle hover:text-brandYellow transition">
        Hakkımızda
      </a>

      <a href="/meradaGayrimenkul_frontend/html/contact.html"
         class="block text-footerTitle hover:text-brandYellow transition">
        İletişim
      </a>

      <!-- Yönetici Girişi (Mobil) -->
      <a href="/meradaAdmin/frontend/login.html"
         class="inline-block mt-2 px-4 py-2 rounded-full border border-brandYellow text-brandYellow hover:bg-brandYellow hover:text-footerBg transition font-medium">
        Yönetici Girişi
      </a>
    </div>
  </nav>
</header>